<!DOCTYPE html>
<html ng-app="colorApp">
<head>
  <meta charset="UTF-8">
  <title>CSS Color Chart</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/style.css">

  <script src="js/angular.min.js"></script>
  <script src="js/ui-bootstrap-0.11.2.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="mainCtrl">
  <div class="container">

    <div class="page-header">
      <div class="btn-group">
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="0">Name</label>
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="1">HEX</label>
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="2">RGB</label>
      </div>
      <h1>CSS Color Chart</h1>
      <p class="lead">CSS Namespace Colors in Rainbow Order</p>
    </div>

    <div class="color-charts">
      <div class="palette" ng-repeat="palette in colors">
        <h3>{{palette.title}}</h3>
        <div class="row">
          <div class="box" ng-repeat="color in palette.colorArray">
            <div ng-style="{'background-color': color[1]}" ng-model="black" class="color-box" >{{ color[radioModel] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">This footer is Aquamarine. The name value buttons are Royalblue and Cornflowerblue.
      <br>Made in 2014 by <strong><a href="http://ainsleywagoner.com">Ainsley Wagoner</a></strong> and <strong><a href="https://twitter.com/iaranzadi">Imanol Aranzadi</a></strong>.</p>
    </div>
  </div>
</body>
</html>
